.input-button {
  display: flex;
  & > * {
    padding: 1rem 0.5rem;
    font-size: var(--font-base);
  }
  input {
    color: var(--gray-light-3);
    border: 1px solid var(--gray-light-4);
  }
  button {
    flex: 1;
    display: block;
    min-width: 12rem;
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
  }
}
.input-label {
  & > * {
    font-size: var(--font-base);
    display: block;
    width: 100%;
  }
  label {
    color: var(--gray-light-2);
    display: block;
    margin-bottom: 1.25rem;
  }
  input {
    padding: 1rem;
    border: 1px solid var(--gray-light-4);
    &:focus {
      outline: 1px solid var(--gray-light-3);
    }
  }
}
.simple-checkbox {
  margin-bottom: 1.5rem;
  input {
    margin-right: 1.5rem;
    border: 1px solid var(--gray-light-4);
  }
}
.simple-textarea {
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--gray-light-4);
}
