.testimonial {
  display: flex;
  padding: 0 3rem;
  color: white;

  &__img {
    width: 12rem;
    height: 12rem;
    margin-right: 3rem;
    img {
      height: 12rem;
      object-fit: cover;
      width: 12rem;
      border-radius: 50%;
    }
  }
  &__content {
  }
  &__header {
    border-left: 2px solid var(--icon-color);
    padding-left: 1.25rem;
  }
  &__name {
  }
  &__position {
    color: var(--gray-light-4);
  }
  &__comment {
    color: var(--gray-light-4);
    margin-top: 1.5rem;
    padding-left: 1.25rem;
  }
}
