.section-home-collection {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
  }
}
.product-cards-home {
  grid-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
