.search-box {
  position: relative;
  flex: 0 0 25%;
  form {
    border: 1px solid #eee;
    padding: 1rem;
    color: var(--text-color);
    button {
      background-color: transparent;
      cursor: pointer;
      border: none;
      svg {
        color: inherit;
      }
    }
    input {
      border: none;
      color: inherit;
      width: 90%;
      &:focus {
        outline: none;
      }
    }
  }
  &__auto {
    background-color: #fff;
    width: 100%;
    min-height: 20rem;
    position: absolute;
    top: 4.2rem;
    left: 0;
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.15);
    padding: 2rem;
    .auto-link {
      display: block;
      color: var(--text-color);
      margin-bottom: 1rem;
      text-decoration: none;
      font-size: 2rem;
      &:first-of-type {
        margin-top: 2rem;
      }

      &:hover {
        color: var(--color-primary);
      }
    }
    .btn-link {
      margin-top: 2rem;
    }
  }
  .search-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
