.product-details {
  padding-bottom: 5rem;
}
.product-des {
  .container {
    display: flex;
    gap: 2rem;
    @media (max-width: 576px) {
      display: block;
    }
  }
  &__img {
    flex: 0 0 30%;
    max-height: 30rem;
    overflow: hidden;
    margin-bottom: 2rem;
    @media (max-width: 576px) {
      width: 35rem;
    }
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  &__content {
    flex: 1;
  }
  &__price {
    margin: 2rem 0;
    font-size: 2.5rem;
    span {
      font-weight: 700;
      margin-right: 1rem;
    }
    del {
      font-size: 2rem;
      opacity: 0.6;
    }
  }
  &__rating {
    font-weight: 600;
    margin-left: 1.5rem;
    span {
      color: var(--notification-color);
    }
  }
  &__details {
    display: flex;
    & > * {
      flex: 0 0 50%;
      div {
        margin-bottom: 1.5rem;
        b {
          font-size: 110%;
        }
      }
    }
  }
}
.product-tab {
  position: relative;
  border: 1px solid #f1f1f1;
  margin: 5rem 0;
  padding: 7rem 5rem 3rem;
  &__btns {
    position: absolute;
    top: -1.5rem;
    left: 4rem;
    background-color: white;
    button {
      margin: 0 1rem;
      padding: 0 2rem;
      height: 3rem;
      font-size: 1.8rem;
      font-weight: 600;
      @media (max-width: 768px) {
        padding: 0 1rem;
      }
      &.active {
        color: white;
        background-color: var(--notification-color);
      }
    }
  }
}
.product-review {
  &__container {
    margin-top: 5rem;
  }
  &__single {
    position: relative;
    padding: 3rem;
    padding-left: 14rem;
    margin-bottom: 3rem;
    background-color: #f6f6f6;
    @media (max-width: 576px) {
      padding-left: 8rem;
    }
    img {
      position: absolute;
      top: -2.5rem;
      left: 2.5rem;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    p {
      margin-top: 2rem;
    }
  }
}
