.banner-full {
  height: 50vh;
  background-size: cover;
  background-position: center;
  .container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__discount {
    font-size: var(--font-size-3);
    font-weight: 700;
    margin: 1rem 0;
  }
}
